# Virtual Environment
venv/
env/
ENV/

# Results
results/

# Игнорируем все .txt кроме подписок
*.txt
!subscription.txt
!subscription-*.txt
!*/subscription.txt
!*/subscription-*.txt
!*/best-*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

